h1 .headerlink,
h2 .headerlink,
h3 .headerlink,
h4 .headerlink,
h5 .headerlink,
h6 .headerlink {
    color: var(--bulma-primary);
    text-decoration: none;
    font-size: 0.8em;
    display: none;
}

h1:hover .headerlink,
h2:hover .headerlink,
h3:hover .headerlink,
h4:hover .headerlink,
h5:hover .headerlink,
h6:hover .headerlink {
    display: inline;
}

.headerlink:hover {
    color: var(--bulma-primary-dark);
}
