{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME|striptags }}{% endblock %}

{% block head %}
    {{ super() }}

    {% import 'translations.html' as translations with context %}
    {% if translations.entry_hreflang(article) %}
        {{ translations.entry_hreflang(article) }}
    {% endif %}

    {% if article.description %}
        <meta name="description" content="{{ article.description }}"/>
    {% endif %}

    {% for tag in article.tags %}
        <meta name="tags" content="{{ tag }}"/>
    {% endfor %}

{% endblock %}

{% block content %}
    {% include 'includes/single_article.html' %}
{% endblock %}